<!DOCTYPE html>
{% load static%}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>AUDI</title>
  <link rel="stylesheet" href="{% static '/tooplate-style.css' %}" />
  <script src="{% static '/js/jquery.js' %}"></script>
  <script src="{% static '/js/bootstrap.min.js'%}"></script>
  <script src="{% static '/js/jquery.sticky.js'%}"></script>
  <script src="{% static '/js/jquery.stellar.min.js'%}"></script>
  <script src="{% static '/js/wow.min.js'%}"></script>
  <script src="{% static '/js/smoothscroll.js'%}"></script>
  <script src="{% static '/js/owl.carousel.min.js'%}"></script>
  <script src="{% static '/js/custom.js'%}"></script>
</head>

<body>
  <!-- {% include "hospital/navbar.html" %} {%block content%} {%endblock content%} -->
  <!-- {% include "hospital/footer.html" %} -->
</body>

</html>